/* Fake image, just for this example */
.fakeimg {
    background-color: #aaa;
    padding: 20px;
	flex: 20%;
	height:auto;
}
img {
    max-width: 100%;
    height: auto;
}
/* Контейнер колонок */
.row {  
    display: -ms-flexbox; /* IE10 */
    display: flex;
    -ms-flex-wrap: wrap; /* IE10 */
    flex-wrap: wrap;
}
/* Сбоку*/
.side {
    -ms-flex: 29%; /* IE10 */
    flex: 29%;
    background-color: #f1f1f1;
    padding: 20px;
	margin-top: 55px; /* Add a bottom margin to avoid content overlay */
	margin-bottom: 35px; /* Add a bottom margin to avoid content overlay */
	
}
/* Линия */
.line{
	-ms-flex: 2%; /* IE10 */
    flex: 2%;
	background-color: none;
    margin-top: 55px; /* Add a bottom margin to avoid content overlay */
	margin-bottom: 35px; /* Add a bottom margin to avoid content overlay */
	display:block;
}
/* Тесты */
.main {   
    -ms-flex: 69%; /* IE10 */
    flex: 69%;
    background-color: white;
    padding: 20px;
    margin-top: 55px; /* Add a bottom margin to avoid content overlay */
	margin-bottom: 35px; /* Add a bottom margin to avoid content overlay */
	
}

/* Главное меню */
.navbar {
    overflow: hidden;
    background-color: #333;
    position: fixed; /* Set the navbar to fixed position */
    top: 0; /* Position the navbar at the top of the page */
    width: 100%; /* Full width */
}

/*Пункты меню */
.navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.lgout a {
	float: right;
}
/* Хувер */
.navbar a:hover {
    background: #ddd;
    color: black;
}
.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#333;
    color: white;
    text-align: center;
}


.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
}

.left {
    left: 0;
    background-color: white;
}

.right {
    right: 0;
    background-color:#58728c;
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.centered img {
    width: 150px;
    border-radius: 50%;
}

* {box-sizing: border-box}
/* Full-width input fields */
  input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}
.loginbtn{
  background-color:#58728c;
  color:white;
}
.registrbtn{
 background-color:white;
 color:#58728c;
}
button:disabled{
 background-color:grey;
 color:#58728c;
}
button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color:rgba(0, 0, 0, 0.5);
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 50%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;

  }
  }
 /* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
    width: 100%;

  }
}
/* Responsive layout - when the screen is less than 700px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 700px) {
    .row {   
        flex-direction: column;
    }
	.line{
		display:none;
	}
}

